<div class="w-full h-[100vh] flex justify-center items-center flex-row gap-[5vw] flex-wrap font-manrope font-bold">
    <div class="flex justify-center items-center flex-row gap-[5vw] flex-wrap">
        <div class="w-80 h-[450px] overflow-hidden shadow-lg bg-card-opaco flex flex-col justify-center items-center rounded-lg 
        border-card-opaco duration-200 ease-in-out hover:scale-105 active:scale-95" (click)="getSelectedValue(0)">
            <img class="w-5/6 opacity-85" [src]="img()[0]" alt="Sunset in the mountains">
        </div>
        <div class="w-80 h-[450px] overflow-hidden shadow-lg bg-card-opaco flex flex-col justify-center items-center rounded-lg 
        border-card-opaco duration-200 ease-in-out hover:scale-105 active:scale-95" (click)="getSelectedValue(1)">
            <img class="w-5/6 opacity-85" [src]="img()[1]" alt="Sunset in the mountains">
        </div>
    </div>
    <div class="flex justify-center items-center flex-row gap-[5vw] flex-wrap">
        <div class="w-80 h-[450px] overflow-hidden shadow-lg bg-card-opaco flex flex-col justify-center items-center rounded-lg 
        border-card-opaco duration-200 ease-in-out hover:scale-105 active:scale-95" (click)="getSelectedValue(2)">
        <img class="w-5/6 opacity-85" [src]="img()[2]" alt="Sunset in the mountains">
        </div>
        <div class="w-80 h-[450px] overflow-hidden shadow-lg bg-card-opaco flex flex-col justify-center items-center rounded-lg 
        border-card-opaco duration-200 ease-in-out hover:scale-105 active:scale-95" (click)="getSelectedValue(3)">
            <img class="w-5/6 opacity-85" [src]="img()[3]" alt="Sunset in the mountains">
        </div>
    </div>
</div>