<div class="w-full h-full absolute left-0 top-0 ">
    <img src="ixtrella.svg"  alt="estrelinha" class="hover:scale-105 active:scale-95 duration-200 ease-in-out relative left-1/3 top-1/6 scale-90">
    <img src="ixtrella.svg"  alt="estrelinha" class="hover:scale-105 active:scale-95 duration-200 ease-in-out relative left-1/6 top-1/6">
    <img src="ixtrella.svg"  alt="estrelinha" class="hover:scale-105 active:scale-95 duration-200 ease-in-out relative left-1/12 top-1/4">
    <img src="ixtrella.svg"  alt="estrelinha" class="hover:scale-105 active:scale-95 duration-200 ease-in-out relative left-1/2 top-11/12 scale-75">
    <img src="ixtrella.svg"  alt="estrelinha" class="hover:scale-105 active:scale-95 duration-200 ease-in-out relative left-11/12 top-2/5 scale-110">
    <img src="ixtrella.svg"  alt="estrelinha" class="hover:scale-105 active:scale-95 duration-200 ease-in-out relative left-8/12 top-1/5 scale-125">
    <img src="ixtrella.svg"  alt="estrelinha" class="hover:scale-105 active:scale-95 duration-200 ease-in-out relative left-1/2 top-1/12">
    <img src="ixtrella.svg"  alt="estrelinha" class="hover:scale-105 active:scale-95 duration-200 ease-in-out relative left-10/12 top-1/12 scale-90">

</div>
